# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Env
.env
.env.local

# Editor / OS
.DS_Store
*.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# TS build info
*.tsbuildinfo
